.feed-head {
  min-height: 232px;
  background-size: cover;
  background-position: center;
}

.feed-head-text {
  min-height: 133px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  background: $white;
}

.profile-pic {
  object-fit: cover;
  border: $white 4px solid;
  bottom: -15%;
}

.feed-image {
  object-fit: cover;
  border-radius: 0px;
  border: 1px solid rgba(33, 33, 33, 0.3);
}

.dropshadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nametag {
  color: $pink;
}

.feed-body {
  background-color: $gray-100;
}

.card-profile {
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
}

.following-container {
  max-width: fit-content;
}

.btn-light {
  background-color: $white;
  color: $black;
  border: 1px solid $gray-200;
  min-width: fit-content;
  &:active {
    background-color: $pink;
  }
  &:hover {
    background-color: $pink;
  }
}

header {
  background-color: $white;
}

.follow-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.header-logo {
  max-width: 150px;
  object-fit: cover;
}

.upload-content {
  background-color: $white;
  border-radius: 20px;
  &:focus {
    outline: none;
  }
}

.submit-btn {
  background-color: $pink;
  color: $white;
  border: none;
  display: none;
  &:focus {
    outline: none;
  }
}

.comment-container {
  background-color: $white;
  border-radius: 20px;
  &:focus {
    outline: none;
  }
}

.comment-input {
  border: none;
  &:focus {
    outline: none;
  }
}

.comment-btn {
  background-color: $pink;
  color: $white;
  border: none;
  &:focus {
    outline: none;
  }
}

.response-icon {
  max-width: 30px;
  max-height: 30px;
  object-fit: cover;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin: 0px;
}

.feedCard {
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 999;
}
