.login {
  border-radius: 49px;
  border: 1px solid $red;
  background: $red;
  box-shadow: 4px 9px 4px -1px rgba(216, 44, 53, 0.37);
  color: $white;
  height: 60px;
}

.login:hover {
  box-shadow: 0px 0px 15px 2px rgba(255, 182, 186, 0.81);
  background-color: $red;
  color: $white;
}

.createUser {
  border-radius: 49px;
  border: 1px solid $red;
  background: transparent;
  box-shadow: 4px 9px 4px -1px rgba(216, 44, 53, 0.37);
  color: $red;
  height: 60px;
}

.createUser:hover {
  box-shadow: 0px 0px 12px 7px #d63d46;
  background-color: $primary;
  color: $red;
}

.dropshadow-input {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login,
.createUser {
  max-width: 400px;
}

.errorUsername {
  display: none;
}

.danger-card {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 10px;
  color: $white;
  display: none;
}

.danger-card p {
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
}

.warning-icon {
  height: 20px;
}
